{% extends "base.html" %}

{% block title %}
<title>Todo App</title>
{% endblock title %}


{% block content %}
<form class="d-flex flex-column justify-content-center align-items-center gap-2" method="POST">
    {% csrf_token %}
    {{form}}

    {% if request.user.is_authenticated %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <input type="submit" class="btn btn-outline-dark w-100 text-center">
        {% else %}
        <p> sayfayı görüntülemek için <a href="{% url 'login' %}">giriş yapınız</a> </p> 

        {% endif %}
    </div>
</form>

{% for t in todo %}
<div class="align-content-center d-flex justify-content-center align-items-center">
    <div
        class="d-flex justify-content-between align-items-center align-content-center border border-1 border-black rounded-2 w-50 p-2 m-2 bg-warning">
        <a class="text-decoration-none text-black" href="{% url " todo-detay" t.slug %}">{{t.todo}}</a>
        <form method="POST" action="{% url " sil" %}">
            {% csrf_token %}
            <input type="text" name="sil" value="{{t.id}}" hidden>
            <input type="submit" value="Sil" class="btn btn-danger">
        </form>
    </div>
</div>

{% endfor %}

{% endblock content %}